# Python cache
__pycache__/
*.pyc

# Virtual Environment
venv/
backend/venv/

# Database
*.db

# Uploads
backend/uploads/

# Environment Variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db